/* --- @custom --- */
:root {
  --typography-core: "PT Sans", sans-serif;

  --fore-neutral: #E4F0F6;
  --fore-partial: #7b7a7b;
  --fore-primary: #c38fff;
  --fore-secondary: #03dac6;
  --fore-success: #62B87F;
  --fore-warning: #E5C07B;
  --fore-danger: #E06C75;

  --back-depth: #0a0a0a;
  --back-surface: #2C2C2C;
}

/* init */
* {
  font-family: var(--typography-core);
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  background-color: var(--back-depth);
  background-image: linear-gradient(var(--back-surface) 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(to right, var(--back-surface) 1.2000000000000002px, var(--back-depth) 1.2000000000000002px);
  background-size: 48px 48px;
  color: var(--fore-neutral);
}

/* background */
.bg-depth {
  background: var(--back-depth);
}

.bg-surface {
  background: var(--back-surface);
}

.bg-primary-subtle {
  background: rgb(from var(--fore-primary) r g b / 15%) !important;
}

/* foreground */
.fg-neutral {
  color: var(--fore-neutral);
}

.fg-partial {
  color: var(--fore-partial);
}

.fg-primary {
  color: var(--fore-primary);
}

.fg-secondary {
  color: var(--fore-secondary);
}

.fg-surface {
  color: var(--back-surface);
}

.fg-gradient {
  background: #f8f9fa;
  background: -webkit-linear-gradient(to right, #f5227a, var(--fore-primary), #f5227a);
  background: linear-gradient(to right, #f5227a, var(--fore-primary), #f5227a);
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: fg-gradiant 2000ms linear infinite;
}

/* border */
.bdr-surface {
  border: 1px solid var(--back-surface);
}

/* link */
.lk-neutral {
  outline: none;
  color: var(--fore-neutral);
  width: fit-content;
  text-decoration: none;
  transition: 200ms ease-in-out;
  --active-color: var(--fore-neutral);
  --hover-color: var(--fore-neutral);
}

.lk-primary {
  color: var(--fore-primary);
  width: fit-content;
  text-decoration: none;
  transition: 250ms ease-in-out;
  --active-color: var(--fore-primary);
  --hover-color: var(--fore-primary);
}

.lk-secondary {
  color: var(--fore-secondary);
  width: fit-content;
  text-decoration: none;
  transition: 250ms ease-in-out;
  --active-color: var(--fore-secondary);
  --hover-color: var(--fore-secondary);
}

.lk-warning {
  color: var(--fore-warning);
  width: fit-content;
  text-decoration: none;
  transition: 250ms ease-in-out;
  --active-color: var(--fore-warning);
  --hover-color: var(--fore-warning);
}

.lk-danger {
  color: var(--fore-danger);
  width: fit-content;
  text-decoration: none;
  transition: 250ms ease-in-out;
  --active-color: var(--fore-danger);
  --hover-color: var(--fore-danger);
}

.lk-neutral:hover,
.lk-primary:hover,
.lk-secondary:hover,
.lk-warning:hover,
.lk-danger:hover {
  opacity: 0.6;
  color: var(--hover-color);
}

/* rules */
.hr-surface {
  color: var(--back-surface);
  border: 0;
  border-top: 1px solid;
  opacity: 100;
}

/* --- @keyframes --- */
@keyframes fg-gradiant {
  0% {
    background-position: 200% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* --- @media --- */
/* desktop */
@media (min-width: 768px) {
  .tag-section {
    border-left: 1px solid var(--back-surface);
  }

  .post-section {
    border-left: 1px solid var(--back-surface);
    border-right: 1px solid var(--back-surface);
  }
}

/* mobile */
@media (max-width: 768px) {
  .tag-section {
    border-left: 0px solid transparent;
  }

  .post-section {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
  }
}